<%= showNotice %>

<h2 class="sub-header">Referentes</h2>

<%= render 'shared/filtrosArea' %>

<%= render 'list', referentes: @referentes %>

<br>

<%= render 'layouts/new_button', :label => 'Nuevo referente', :path => new_referente_path %>
