<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_area_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelArea" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelArea">Nueva Area</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'areas/form', :@area => Area.new, modal: true %>
      </div>
    </div>
  </div>
</div>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_zone_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelZona" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelZona">Nueva Zona</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'zones/form', :@zone => Zone.new, modal: true %>
      </div>
    </div>
  </div>
</div>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_ranchada_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelRanchada" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelRanchada">Nueva Ranchada</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'ranchadas/form', :@ranchada => Ranchada.new, modal: true %>
      </div>
    </div>
  </div>
</div>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade container-fluid" id="new_familia_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFamilia" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelFamilia">Nueva Familia</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'familias/form', :@familia => Familia.new, modal: true %>
      </div>
    </div>
  </div>
</div>
