<div  id="new_area_modal"  class="modal">
  <div class="modal-content">
    <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
    <h4>Nueva Sede</h4>
    <div class="divider"></div>
    <%= render 'areas/form', :@area => Area.new, modal: true, puede_editar: true %>
  </div>
</div>

<div id="new_zone_modal" class="modal">
    <div class="modal-content">
      <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
      <h4>Nueva Zona</h4>
      <div class="divider"></div>
      <%= render 'zones/form', :@zone => Zone.new, modal: true, puede_editar: true %>
    </div>
</div>

