<div class="row">
  <div class="col s12">
    <h2 style="margin-top: 1.0em">Personas</h2>
  </div>
</div>

<%= render 'layouts/filtros_completo' %>

<%= render 'people/list', people: @people %>

<%= render 'layouts/new_button', :label => 'Nueva persona', :path => new_person_path %>
