<h2 class="sub-header">Nueva persona</h2>

<% @zonas = Zone.where(:area_id => Area.first.id) %>
<% @ranchadas = Ranchada.where(:zone_id => @zonas.first.id) %>

<%= render 'form', :path => people_path %>
