<p id="notice"><%= notice %></p>

<h1>Mapa</h1>

<div id="googleMap" style="width:500px;height:380px;"></div>



<%= content_tag "div", id: "personas", data: {personas: @personas } %>
 

<script defer>
    loadIndexAction();
</script>