

<h2 class="sub-header">Visitas</h2>

<%= render 'layouts/filtros_completo' %>

<%= render 'visits/list', visits: @visits %>

<%= render 'layouts/new_button', :label => 'Nueva visita', :path => new_visit_path(:person_id => params[:person_id]) %>
