
<h2 class="sub-header">Informes</h2>

<div class="container-fluid">

	<% if RolDataAccess.puede_ver_informes(current_user) %>
	  <%= link_to "Voluntarios activos", informes_voluntarios_path %><br />
	  <%= link_to "Personas activas", informes_personas_path %><br />
	  <%= link_to "Fecha de cumpleaños", informes_cumpleanios_path %><br />
	  <%= link_to "Visitas", informes_visitas_path %><br />
	<% end %>

</div>
