
<h2 class="sub-header">Visitas por zona</h2>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row-fluid">
      <div class="col-md-4">
        Área
        <%= f.select(
          :visitas,
          @filterrific.select_options[:visitas],
          { include_blank: 'Todas' }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-md-4">
        Desde
        <%= f.date_field :fecha_gte, :value => @filterrific.to_hash()['fecha_gte'] %>
      </div>
    </div>

  <% end %>

</div>

<%= render 'visitas', visitas: @visitas %>