<h2 class="sub-header">Instituciones</h2>

<%= render 'instituciones/list', instituciones: @instituciones %>

<%= render 'layouts/new_button', :label => 'Nueva institución', :path => new_institucion_path %>
