<% filtro ||= :fecha_gte %>
<% defaulValue ||= false %>
<% label ||= 'Desde' %>

<div class="row">
  <div class="col s3">
    <%= f.text_field(
      filtro,
      placeholder: label,
      class: "form-control",
      value: defaulValue ? defaulValue : nil,
      :pattern => '[0-9]{2}/[0-9]{2}/[0-9]{4}'
    ) %>
  </div>
</div>

<script type="text/javascript">
  $('#filterrific_' + "<%= filtro %>").datepicker({
    format: 'dd/mm/yyyy',
    language: 'es'
  });
</script>
