<% extraCss ||= "col-md-3" %>

<div class="row-fluid">
  <div class="col-xs-12 <%= extraCss %> margen-vert">
    <%= f.select(
      :with_area_id,
      @filterrific.select_options[:with_area_id],
      { include_blank: 'Ãrea' },
      { class: "form-control" }
    ) %>
  </div>
</div>
