<% labelSearcher ||= "Nombre" %>

<div class="col s3">
  <%= f.text_field(
    :search_query,
    class: 'filterrific-periodically-observed form-control',
    placeholder: labelSearcher
  ) %>
</div>
