<div class="container-fluid">

  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row">
      <%= render 'shared/filtroArea', f: f %>

      <%= render 'shared/filtroTexto', f: f %>

      <%= render 'shared/filtroEmail', f: f %>
    </div>

  <% end %>

</div>
