<div  id="new_area_modal"  class="modal">
  <div class="modal-content">
    <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
    <h4>Nuevo Evento</h4>
    <div class="divider"></div>
    <%= render 'form', evento: @evento %>
  </div>
</div>
