<div id="new_pedido_modal"  class="modal">
  <div id="selector-persona-new-pedido-modal" style="display: none"><%= selectorPersona %></div>
  <div class="modal-content">
    <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
    <h4>Nuevo Pedido</h4>
    <div class="divider"></div>
    <%= render 'pedidos/form', :@pedido => Pedido.new(fecha: Time.now), modal: true, puede_editar: RolDataAccess.puede_editar_visita(current_user), mostrar_aceptar: RolDataAccess.puede_editar_visita(current_user)%>
  </div>
</div>

<div id="edit_pedido_modal"  class="modal">
  <div class="modal-content">
    <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
    <h4>Editar Pedido</h4>
    <div class="divider"></div>
    <div id="edit_pedido_modal_body" class="modal-body"></div>
  </div>
</div>

<script defer>
  $('#new_pedido').submit(function() {
    $('#pedido_person_id').prop('disabled', false);
  });
</script>
