<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info areas %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <% if RolDataAccess.is_admin(current_user) %>
            <th>Acciones</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @areas.each do |area| %>
          <tr>
            <td><%= area.nombre %></td>
            <td>
              <%=
                render 'layouts/acciones',
                current_user: current_user,
                edit_path: RolDataAccess.puede_editar_area(current_user) ? edit_area_path(area) : nil,
                delete_path: RolDataAccess.puede_editar_area(current_user) ? area : nil
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate areas, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>
