<h2 class="sub-header">Sedes</h2>

<div class="container-fluid">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col s4">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Nombre'
        ) %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'list', areas: @areas %>

<% if RolDataAccess.puede_editar_area(current_user) %>
  <%= render 'layouts/new_button', :label => 'Nueva sede', :path => new_area_path %>
<% end %>
