

<h2 class="sub-header">Áreas</h2>

<div class="table-responsive well">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row-fluid">
      <div class="col-xs-12 col-md-3">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Nombre'
        ) %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'list', areas: @areas %>

<% if RolDataAccess.puede_editar_area(current_user) %>
  <%= render 'layouts/new_button', :label => 'Nueva área', :path => new_area_path %>
<% end %>
