

<h2 class="sub-header">Zonas</h2>

<%= render 'shared/filtrosArea' %>

<%= render 'zones/list', zones: @zones %>

<% if RolDataAccess.puede_editar_zona(current_user) %>
	<%= render 'layouts/new_button', :label => 'Nueva zona', :path => new_zone_path %>
<% end %>
