<%= showNotice %>

<h2 class="sub-header">Zonas</h2>

<%= render 'shared/filtrosArea' %>

<%= render 'zones/list', zones: @zones %>

<br>

<%= render 'layouts/new_button', :label => 'Nueva zona', :path => new_zone_path %>
