/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require material_icons
 */
@import "materialize/components/color-variables";
$primary-color: color("deep-purple", "lighten-2") !default;

@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.scroll {
  width: calc(100% - var(--column-fixed-width));
  overflow: auto;
  /*box-shadow: inset -12px 0 9px -7px rgba(0,0,0,0.25);*/
  /*overflow-x: scroll;
  overflow-y: visible;*/
}


table {
  width: 100%;
  font-size: 13px;
  border-spacing:0;
  border-collapse: collapse;
}

table.form-table th {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
}

table.form-table td {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
}

.pagination li.active a {
  color: #fff;
}

.material-icons.delete {
  color: red;
}


//
// .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
// 	background-color: #80379B;
// 	color: white;
// }
//
// .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
// 	background-color: #F0AB00;
// }
//
//#flash-error {
//  color: red;
//}
//
//.ubicacion_modal {
//  background-color: transparent !important;
//}
//
//.modal-ubicacion {
//    display: none; /* Hidden by default */
//    position: fixed; /* Stay in place */
//    z-index: 1; /* Sit on top */
//    padding-top: 1%; /* Location of the box */
//    left: 0;
//    top: 0;
//    width: 100%; /* Full width */
//    height: 100%; /* Full height */
//    overflow: auto; /* Enable scroll if needed */
//    background-color: rgb(0,0,0); /* Fallback color */
//    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
//}
//
//.modal-ubicacion-content {
//  background-color: #fefefe;
//  margin: auto;
//  padding: 0px;
//  border: 1px solid #888;
//  border-radius: 10px;
//  width: 80%;
//}
//
//#googleMapUbicacion {
//	border-radius: 10px;
//}
//
//.calendar-title {
//  font-size: 2em;
//}
//
//.calendar-heading {
//  margin-top: 1.5em;
//}
//
//.calendario-data a {
//  &:visited {
//    color: #000;
//  }
//  &:hover {
//    color: #000;
//    background-color: transparent;
//  }
//}
//
//.table-striped > tbody > tr:nth-child(2n+1) > td > div > a, .table-striped > tbody > tr:nth-child(2n+1) > th > div > a {
//    background-color: #80379B;
//    color: white;
//}
//
//.table-striped > tbody > tr:nth-child(2n) > td > div > a, .table-striped > tbody > tr:nth-child(2n) > th > div > a {
//    background-color: #F0AB00;
//    color: black;
//}
//
//.logoRecorridas {
//  &:visited {
//    color: #000;
//  }
//  &:hover {
//    color: #000;
//    background-color: transparent;
//  }
//}
//
//.sub-header {
//  padding: 0.5em;
//}
//
//.botones {
//  margin-bottom: 1em;
//}
//
//.paginacion {
//  width: 100%;
//  text-align: center;
//}
//
//.estilos-paginacion {
//  margin: 0 0 0.7em 0;
//}
//
//.margen-vert {
//  margin: 0.4em 0;
//}
//
//a.glyphicon {
//  &:visited {
//    color: #000;
//  }
//  &:hover {
//    color: #000;
//    background-color: transparent;
//  }
//}
//
//.botones-submit {
//  margin-bottom: 1em;
//}
//
//a.btn:visited {
//  color: #fff;
//}
