

//#error_explanation {
//  color: red;
//  ul {
//    color: #a94442;
//    margin: 0 0 30px 0;
//  }
//}
//
//.field_with_errors {
//  @extend .has-error;
//  .form-control {
//    color: $state-danger-text;
//  }
//}