// Place all the styles related to the mapa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.mapaPersonas {
	width: 800px;
	height:600px;
}
