<p>Hola <%= @resource.email %>!</p>

<p>Alguien pidió un link para cambiar la contraseña. Podés hacer esto a través del link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vos no hiciste el pedido, por favor ignorá este mensaje.</p>
<p>Tu contraseña no cambiará hasta que accedas al link de arriba y crees una nueva</p>
