<h2 class="sub-header">Ranchadas</h2>

<%= render 'layouts/filtros', label_searcher: "Nombre" %>

<%= render 'list', ranchadas: @ranchadas %>

<% if RolDataAccess.is_admin(current_user) %>
	<%= render 'layouts/new_button', :label => 'Nueva ranchada', :path => new_ranchada_path %>
<% end %>