<% if @pedidos && @pedidos.any? %>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>

          <tbody>
            <% @pedidos.each do |pedido| %>
              <tr>
                <td><%= pedido.fecha.to_date() %></td>
                <td><%= pedido.descripcion %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
<% else %>
  <div class="col-xs-2 col-md-1">
    <%= link_to image_tag("plus.jpg", width: '32', heigth: '32'), '#new_pedido_modal', 'data-toggle' => 'modal', id: 'pedido_modal' %>
  </div>
<% end %>
