<% if @pedidos && @pedidos.any? %>
  <div class="card">
    <div class="scroll">
      <table class="form-table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @pedidos.each do |pedido| %>
            <tr>
              <td><%= pedido.fecha.to_date() %></td>
              <td><%= pedido.descripcion %></td>
              <td>
                <%=
                  render 'layouts/acciones',
                  current_user: current_user,
                  new_path: '#new_pedido_modal',
                  edit_path: edit_pedido_modal_path(pedido.id),
                  remote: true
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="col s2">
    <%= link_to material_icon.add, '#new_pedido_modal', class: "btn-floating modal-trigger" %>
  </div>
<% end %>
