
<h2 class="sub-header">Notificaciones</h2>

<%= render 'list', notificaciones: @notificaciones %>

<br>

<%= render 'layouts/new_button', :label => 'Nueva notificacion', :path => new_notificacion_path %>