<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola Diego,</p>
    <p>
      El usuario <%= @user.name %> <%= @user.apellido %> (<%=@user.email%>) se registró en la web en sede <%= @user.area.nombre %>.
    </p>
  </body>
</html>
