<% remote ||= false %>

<div class="actions btn-group col-xs-offset-5">
	<%= f.submit 'Aceptar', class: "btn btn-primary text-center" %>
	<% if !remote %>
		<%= link_to "Cancelar", path, class: "btn btn-primary text-center" %>
	<% end %>
</div>
