<% remote ||= false %>
<% mostrar_aceptar ||= false %>

<div class="text-center botones-submit">
	<div class="btn-group">
		<% if mostrar_aceptar %>
			<%= f.submit 'Aceptar', class: "btn btn-primary" %>
		<% end %>
		<% if !remote %>
			<%= link_to "Cancelar", path, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
