<% label_searcher ||= false %>

<div class="container-fluid">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>

      <div class="col s12 m3">
        <%= f.select(
          :with_area_id,
          @filterrific.select_options[:with_area_id],
          { include_blank: 'Sede' },
          { class: "form-control" }
        ) %>
      </div>

      <div class="col s12 m3">
        <%= f.select(
          :with_zone_id,
          @filterrific.select_options[:with_zone_id],
          { include_blank: 'Zona' },
          { class: "form-control" }
        ) %>
      </div>

      <div class="col s12 m3">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control',
          placeholder: label_searcher ? label_searcher : 'Nombre / Apodo'
        ) %>
      </div>

    <% end %>
  </div>
</div>
