<% remote ||= false %>
<% label_name ||= "Sin Label" %>
<% name ||= "Sin Nombre" %>
<% puede_editar ||= false %>
<% disabled = !puede_editar && !remote %>

<div class="row">
  <div class="input-field col s12">
    <%= f.text_field name, :disabled => disabled %>
    <%= f.label label_name, class: "active" %>
  </div>
</div>
